{% extends "layout.html" %} {% from 'bootstrap4/form.html' import render_form %}
{% block content %}
<section class="jumbotron text-center">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <h2>Applications</h2>
  <table id="applicationTable">
    <form method="post">
      <thead>
        <tr>
          <th>Name</th>
          <th>Experience (years)</th>
          <th>Degree</th>
          <th>Application Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>{{ application.name }}</td>
            <td>{{ application.id.experience }}</td>
            <td>{{ application.degree }}</td>
            <td>{{ application.date_posted.strftime('%Y-%m-%d') }}</td>
            <td>{{ application.status }}</td>
            <td><form method="post">{{ render_form(form2) }}</form></td>
          </tr>
        </a>
      </tbody>
    </form>
  </table>

  <script>
    $(document).ready(function () {
      // Add table sorting functionality using jQuery DataTables
      $("#applicationTable").DataTable();
    });
  </script>
</section>
{% endblock %}
